<div class="footer flex flex-column md:flex-row align-items-center justify-content-center">
  <div class="px-2 py-4 justify-content-center">
    <button pButton label="About" icon="pi pi-fw pi-question-circle" [routerLink]="['/about']" ></button>
  </div>
  <div class="px-2 py-4 justify-content-center">
    <button pButton label="Talk to a human" icon="pi pi-send" routerLink="/about"></button>
  </div>
  <div class="px-2 align-items-center justify-content-center">
    <app-socials></app-socials>
  </div>
  <div class="copyright py-5 justify-content-center">
    © 2023 - MoltenPixel - seriously abnormal web projects
  </div>
</div>
