<div class="flex flex-column align-items-center justify-content-center">
  <div class="star-box z-0 relative">
    <div class="flex flex-column align-items-center justify-content-center md:flex-row m-auto">

      <div class="p-1 flex flex-row md:flex-column z-2">
        <a href="http://musings.moltenpixel.co.uk" target="_blank">
          <div class="star-inner w-auto h-auto md:w-30rem md:h-30rem flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center fadeinup animation-duration-1000 animation-iteration-once animation-ease-in">
              <img src="../../../assets/images/trumpye.png" alt="musings-project" style="width:100%">
              <div class="project-name"><button class="button"><h1>Musings</h1></button></div>
            </div>
          </div>
        </a>
          <div class="star-inner w-auto h-auto md:w-30rem md:h-30rem ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center fadeindown animation-duration-1000 animation-iteration-once animation-ease-in">
              <img src="../../../assets/images/wywtee.png" alt="with you with tee demo store" style="width:100%">
              <div class="project-name"><button class="button"><h1>Tee Store</h1></button></div>
            </div>
          </div>
      </div>

      <div class="p-1 flex flex-row md:flex-column z-2">
          <div class="star-inner-lg w-auto h-auto lg:w-45rem lg:h-35rem logo hidden lg:flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center">
              <img src="../../../assets/images/graph.png" alt="web technologies used" style="width:100%">
              <div class="project-name"><button class="button fadeindown animation-delay-800 animation-duration-2000 animation-iteration-once"><h1>Soon...</h1></button></div>
            </div>
          </div>

          <div class="star-inner-lg w-auto h-auto md:w-55rem md:h-55rem lg:flex my-4 align-items-center justify-content-center z-0">
            <div class="flex flex-column text-center scalein animation-duration-3000 animation-iteration-once animation-ease-in">
              <img src="../../../assets/images/recent-projects.png" alt="some of our most recent projects" style="width:100%">
            </div>
          </div>

          <div class="star-inner-lg w-auto h-auto lg:w-45rem lg:h-35rem hidden logo hidden lg:flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center">
              <img src="../../../assets/images/api.png" alt="gaming api" style="width:100%">
              <div class="project-name"><div class="button fadeinup animation-delay-800 animation-duration-2000 animation-iteration-once"><h1>Soon...</h1></div></div>
            </div>
          </div>
      </div>

      <div class="p-1 flex flex-row md:flex-column z-2">
          <div class="star-inner w-auto h-auto md:w-30rem md:h-30rem animation flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center fadeinup animation-duration-1000 animation-iteration-once animation-ease-in">
              <img src="../../../assets/images/natours.png" alt="musings-project" style="width:100%">
              <div class="project-name"><button class="button"><h1>Natours</h1></button></div>
            </div>
          </div>
          <a href="http://gumdropshop.moltenpixel.co.uk" target="_blank">
          <div class="star-inner w-auto h-auto md:w-30rem md:h-30rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center fadeindown animation-duration-1000 animation-iteration-once animation-ease-in">
              <img src="../../../assets/images/gumdrops.png" alt="One Stop Gumball Shop" style="width:100%">
              <div class="project-name"><button class="button"><h1>Gumdrops</h1></button></div>
            </div>
          </div>
          </a>
      </div>

    </div>
  </div>
