<div class="grid grid-nogutter surface-section text-800 zoomin animation-duration-500 animation-iteration-once">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center scalein animation-duration-2000 animation-iteration-once">
      <section>
          <span class="block text-5xl font-bold mb-3"><h1>What is this wacky concoction of stuff?</h1></span>
          <div class="text-4xl text-primary font-bold mb-1"><h2>OK. let me explain...</h2></div>
          <p class="mt-0 mb-2 line-height-2">MoltenPixel is the resurrected zombie application first created in 2002 when leigh (the silly looking fella in the meme shades) first started to learn how to build websites.</p>
          <p class="mt-0 mb-4 line-height-2">Now 20 years later it's back as a place to show some of the badly coded, often stupid and pointless projects he is messing with.</p>

          <button pButton pRipple label="Check out the GitHub Projects" type="button" class="mr-3 p-button-raised"></button>
          <!-- <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button> -->
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="../../assets/images/leighface.jpg" alt="Leigh Godson doing silly stuff" class="md:ml-auto block md:h-full zoomin animation-duration-1000 animation-iteration-once" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
